package-lock = false
registry=http://apps-hp.danlu.netease.com:41842/repository/npm-group-prod/
always-auth=true
//apps-hp.danlu.netease.com:41842/repository/npm-group-prod/:_authToken= "NpmToken.d48d358e-bc39-38a9-9dee-4f5c97a150f2"
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs
electron_mirror=https://npm.taobao.org/mirrors/electron/
