.speech-covert {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 1400px;
    height: 838px;
    padding: 60px 100px 50px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;
    border: 1px solid #ff504d;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(25px);

    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: rgba(255, 255, 255, 1);

      .title-wrap {
        display: flex;
        align-items: center;
        gap: 24px;

        .prefix {
        }

        .text {
          font-size: 40px;
          font-weight: 600;
        }
      }

      .tip {
        font-size: 24px;
        font-weight: 400;
      }
    }

    .body {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .desc-wrap {
        display: flex;
        flex-direction: column;
        color: rgba(255, 255, 255, 1);

        .text {
          font-size: 32px;
          font-weight: 500;
        }
      }

      .recorder-wrap {
        width: 100%;
        display: flex;
        gap: 4px;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;

        .voice-graph {
          // width: 100%;
        }

        .visualizer {
          width: 100%;
          height: 168px;
          margin-bottom: 35px;
        }

        .progress-wrap {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 40px;

          .progress {
            flex: 1;
            height: 16px;
            border-radius: 20px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background: rgba(255, 255, 255, 0.2);
            overflow: hidden;
            display: flex;
            align-items: center;

            &-inner {
              height: 100%;
              border-radius: 20px;
              background: linear-gradient(90deg, #9c0000 2.22%, #ff504d 100%);
            }
          }

          .text {
            // width: 144px;
            width: 195px;
            color: rgba(255, 255, 255, 0.65);
            font-size: 24px;
            font-weight: 400;
          }
        }
      }

      .btns-wrap {
        display: flex;
        gap: 25px;
        .btn {
          margin-top: 32px;
          display: inline-flex;
          padding: 8px 40px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 40px;

          font-size: 32px;
          font-weight: 500;
        }

        .complete-btn {
          background-color: #ff504d;
          color: #000;
        }

        .reset-btn {
          background-color: rgb(106, 77, 235);
          color: white;
        }
      }

      .complete-btn:hover {
        filter: brightness(1.15);
      }
    }

    .footer {
      margin-top: 52px;
      display: flex;
      align-items: center;
      justify-content: center;

      .text-wrap {
        display: flex;
        align-items: center;
        gap: 8px;

        font-size: 20px;
        font-weight: 400;

        color: #fff;
        font-size: 20px;
        font-weight: 400;
        opacity: 0.65;
      }
    }
  }
}
