.home {
  --card-item-width: 360px;
  --card-item-height: 480px;
  --card-list-wrap-top: 386px;

  width: 100%;
  height: 100%;

  @media (max-width=1920px) {
    --card-item-width: 288px;
    --card-item-height: 384px;
    --card-list-wrap-top: 308px;
  }

  .top-title-img,
  .card-list-wrap,
  .description,
  .microphone-svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .top-title-img {
    top: 0;
  }

  .description {
    font-size: 36px;
    font-weight: bold;
    top: 276px;
  }

  .card-list-wrap {
    top: var(--card-list-wrap-top);

    .card-list {
      display: flex;

      .item {
        position: relative;
        width: var(--card-item-width);
        height: var(--card-item-height);
        cursor: pointer;
        border: 4px solid transparent;

        border-radius: 20px;
        transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);

        .introduce {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          height: 100%;
          width: 70px;
          padding: 24px 16px;
          background: linear-gradient(179deg, #ff504d 0.64%, #9c0000 127.28%);
          top: 0;
          left: 0;
          border-top-left-radius: 17px;
          border-bottom-left-radius: 17px;

          .name,
          .en {
            writing-mode: vertical-rl;
          }

          .name {
            margin-top: 24px;
            font-size: 36px;
            font-weight: 800;
            letter-spacing: 12px;
          }

          .en {
            margin-top: 63px;
            color: #000;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }

      .item * {
        user-select: none;
      }

      .item--active,
      .item:hover {
        border-color: #dbca70;
        transform: translateY(-25px);
      }

      .rotate--12deg {
        transform: rotate(-12deg);
      }

      .rotate--12deg.item--active,
      .rotate--12deg.item:hover {
        transform: rotate(-12deg) translateY(-25px);
      }
    }

    .confirm-btn {
      position: absolute;
      bottom: 0;
      right: 0;

      display: inline-flex;
      padding: 8px 40px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 40px;
      background-color: #ff504d;

      color: #000;
      font-size: 32px;
      font-weight: 500;
    }

    .confirm-btn--disabled {
      pointer-events: none;
      background-color: gray;
      color: rgba(0,0,0,.7)
    }

    .confirm-btn:hover {
      filter: brightness(1.15);
    }
  }

  .microphone-svg {
    bottom: 0;
  }
}
